h2 {
    text-align: center;
}

#vehicleInfo {
    align-content: center;
    width: 320px;
    height: 300px;
    border: 5px solid gray;
    margin: 0;
    display: inline-block;
  }

#vehicleInfo p {
    margin-top: 0;
}

#carImage {
    width: 320px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

/* .button {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */